**

!Dockerfile.fly.api
!fly.toml
!bun.lock
!package.json

!packages
!packages/api
!packages/api/package.json
!packages/api/tsconfig.json
!packages/api/src/**
!packages/common
!packages/common/package.json
!packages/common/tsconfig.json
!packages/common/src/**

!apps
!apps/web
!apps/web/package.json
!apps/web/src
!apps/web/src/types
!apps/web/src/types/supabase.ts

.git
.git/**
node_modules
node_modules/**
**/node_modules
**/node_modules/**
**/.next
**/.next/**
**/.turbo
**/.turbo/**
**/dist
**/dist/**
apps/web/**
!apps/web
!apps/web/package.json
!apps/web/src
!apps/web/src/types
!apps/web/src/types/supabase.ts
!packages/common/dist
!packages/common/dist/**
