**

!Dockerfile.fly.api
!fly.toml
!bun.lock
!package.json

!packages/
!packages/api/
!packages/api/package.json
!packages/api/src/**
!packages/common/
!packages/common/package.json
!packages/common/src/**

!apps/
!apps/web/
!apps/web/package.json
!apps/web/src/
!apps/web/src/types/
!apps/web/src/types/supabase.ts
